#frame {
  background-color: white;
  width: 500px;
  height: 100%;
  border-width: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 3px darkslategray;
  border-left: 3px solid transparent;
  transition: all 0.5s;

  &.invisible {
    visibility: hidden;
    transition: all 0.5s;
  }
}
