.card-item {
  background-color: #ffffff;
  margin: 0 5px 5px;
  padding: 5px;
  min-height: 40px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px darkslategrey, -1px -1px 5px darkslategrey;
  border-left: 3px solid transparent;

  &:last-child {
    margin-bottom: 3px;
  }

  &:hover {
    cursor: pointer;
    background-color: #eeeded;
    transition: all 0.5s;
  }

  &.selected {
    border-left-color: #17a2b8;
  }
}
