.update-page {
  background-color: lightgrey;
}

.section-container {
  display: flex;
}

.cards-list {
  margin: 0 10px;
  width: 300px;
  height: calc(100vh - 60px);
  overflow-y: auto;

  ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }
}

.section {
  flex: 1;
  margin: 20px;
}
